@model System.Web.Mvc.HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error - Euro Space Center</title>
</head>
<body>
    <header>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </header>
    <details>
        <summary>details</summary>
        <p>If you want help, you can forward this info to an administrator</p>
        <pre>@Model.ControllerName/@Model.ActionName</pre>
        <pre>@Model.Exception</pre>
    </details>
</body>
</html>
