/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* make images not overflow */
img {
    max-width: 100%;
}

.panel-image img {
    width: 100%;
}

.emoji {
    font-weight: normal;
    font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

/* background for jumbo */
.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://www.eurospacecenter.be/sites/default/files/jumbotron/esc_jumbo_hp_2220x700.jpg");
    color: white;
}

/* a whole block which is a link */
a.blocklink {
    color: inherit;
    text-decoration: none;
}

input[type=range] {
    box-shadow: none;
    padding: 6px 0;
}

input[type=range]:active, input[type=range]:focus {
    box-shadow: none;
}

input[type=range]:after {
    content: attr(data-value);
    transform: translateY(2em);
    display: block;
}

/* smaller container */
.container.container--small {
    max-width: 50em !important;
}

/* something wrong with this version of boot the strap */
@media (min-width: 768px) {
    .form-inline .form-group {
        vertical-align: bottom;
    }
}