/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* make images not overflow */
img {
    max-width: 100%;
}

.panel-image img {
    width: 100%;
}

.emoji {
    	font-weight: normal;
	font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
}

/* background for jumbo */
.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("http://www.eurospacecenter.be/sites/default/files/jumbotron/esc_jumbo_hp_2220x700.jpg");
    color: white;
}