<h2>Contact</h2>

<address>
    1, rue Devant les Hêtres<br>
    B-6890 Transinne<br>
    Belgium
</address>

<dl class="dl-horizontal">
    <dt>tel:</dt>
    <dd><a href="tel:003261656465">+32 (0)61 65 64 65</a></dd>
    <dt>technical problems:</dt>
    <dd><a href="mailto:school@haroen.me">school@haroen.me</a></dd>
</dl>