@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>

<p>Euro Space Center is a subsidiary of Adventureworld EU.</p>

<img src="~/Content/logo_adventureworld_color.png" alt="logo adventureworld" height="60"/>

<address>
    1, rue Devant les Hêtres<br>
    B-6890 Transinne<br>
    Belgium
</address>

<dl class="dl-horizontal">
    <dt>tel:</dt>
    <dd><a href="tel:003261656465">+32 (0)61 65 64 65</a></dd>
    <dt>technical problems:</dt>
    <dd><a href="mailto:school@haroen.me">school@haroen.me</a></dd>
</dl>

<p>We have a partnership with two other theme parks</p>
<ul>
    <li><a href="http://spacefun.umutsagram.ikdoeict.net">🛰 Space Fun</a></li>
    <li><a href="http://marspark.eliasmeire.ikdoeict.net/">🌌 Mars Park</a></li>
</ul>
<small>Public API data from these parks is used to augument search results</small>