@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>

<p>
    Euro Space Center is an interactive museum. You'll learn all about the history and theory of space travel during your visit.
</p>
<article>
    <h1></h1>
</article>
