@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Euro Space Center 🚀</h1>
    <p class="lead">Come learn more about space and space travel while having loads of thrilling fun!</p>
    <p><a href="/search" class="btn btn-primary btn-lg">lift-off 💥</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Experiences</h2>
            </div>
            <div class="panel-image">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=six-axis-chair&w=400&h=300"/>
            </div>
            <div class="panel-body text-center">
                <p>Get flown around in a six-axis chair, make a model rocket and more</p>
                <a href="/search?cat=attractions" class="btn btn-default">nice! 🚀</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Shows</h2>
            </div>
            <div class="panel-image">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=planetarium&w=400&h=300"/>
            </div>
            <div class="panel-body text-center">
                <p>Watch an interesting 360 movie on a planetarium, get flown around in a 6D Cinema!</p>
                <a href="/search?cat=shows" class="btn btn-default">wow! <span class="emoji">👀</span></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Food</h2>
            </div>
            <div class="panel-image">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=food&w=400&h=300"/>
            </div>
            <div class="panel-body text-center">
                <p>Come gain some extra power to continue for a further day of fun!</p>
                <a href="/search?cat=restaurants" class="btn btn-default">njam! <span class="emoji">🍽</span></a>
            </div>
        </div>
    </div>
</div>