@model EuroSpaceCenter.Models.parkplan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container container--small">
    @Html.Partial("CreatePlanForm", Model)
</div>

@section scripts {
    <link href="https://unpkg.com/jquery-datetimepicker@2.5.4/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script async defer>
        if (!Modernizr.inputtypes.date) {
            $.getScript("https://unpkg.com/jquery-datetimepicker@2.5.4/build/jquery.datetimepicker.full.min.js", function () {
                $('#date').datetimepicker({
                    timepicker: false,
                    format: 'Y/m/d'
                });
            });
        }
    </script>
}